@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  background: #121315;
  color: #fff;
}

section#header {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}

#header .container,
#main .container {
  width: 1216px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.box-container {
  width: 320px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-insany {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.logo-insany h2 {
  margin-left: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}

.tools h2 {
  margin-right: 20px;
  color: #e1e68f;
}

/* Conteudo principal */

.logo-figma {
  width: 116px;
  height: 116px;
  background: #fff;
  border-radius: 50%;
  margin-top: -58px;
  position: absolute;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.logo-figma img {
  width: 40%;
}

#main .container {
  flex-direction: column;
}

#main .container h1 {
  display: block;
  font-size: 37px;
  font-weight: bold;
  margin-top: 167px;
}

#main .container p {
  display: block;
  font-size: 32px;
  font-weight: 500;
  margin-top: 16px;
  color: rgba(255, 255, 255, 0.8);
}

#main .container a {
  color: #121315;
  background: #fff;
  padding: 16px 32px;
  border-radius: 32px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 36px;
  transition: all 0.3s;
}

#main .container a:hover {
  background: #e1e68f;
}

#main .container .print {
  width: 1216px;
  border-radius: 8px;
  margin-top: 85px;
}
